
// Vertical rhythm
$base-font-size = 16px
$base-line-height = 1.5 * $base-font-size

// From http://www.css-101.org/articles/clearfix/latest-new-clearfix-so-far.php
nano-clearfix()
    &:after
        content ""
        display table
        clear both

@import "fluidity"
