body
  > header
  > section
  > footer
    width 100%

@media (min-width: 30em)
  .nav
    width: 100%

@media (min-width: 60em)
  body > section
    grid 100%, 320px

  article
    grid-space 75%

  aside
    grid-space 25%


@media (min-width: 90em)
  article
    grid-space 70%

  aside
    grid-space 30%
