// Files are set up according to SMACSS schema


// Variables and settings
@import "_base"

/**
 * Global element styles
 */
@import "_default"

/**
 * Layout definitions
 */
@import "_layout"

/**
 * Modular components
 */
@import "_components"

/**
 * State-specific styles
 */
@import "_states"

/**
 * Final styling and theming
 */
@import "_theme"
